body {
  font-family: 'DM Sans', sans-serif;
  font-size: $font-size;
  font-weight: 500;
  color: getColor('main-color');
  background-color: getColor('main-bg-color');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
