body {
  font-family: 'DM Sans';
  font-size: $font-size;
  font-weight: 500;
  color: getColor('main-color');
  background-color: getColor('main-bg-color');
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
