%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%link {
  text-decoration: none;
}

%button {
  padding: 12px 25px;
  color: getColor('accent-color');
  background-color: getColor('main-bg-color');
  border-radius: 20px;
  border: none;
  text-align: center;
}
