<section id="head2" class="section about">
  <div class="container">
    <b class="section__subtitle">tradition and love</b>
    <h2 class="section__title section__title--margin">how it’s made?</h2>

    <div class="about__wrapper">
      <div class="about__thumb">
        <picture>
          <source
            srcset="/src/images/cow-320.webp 1x, /src/images/cow-320@2x.webp 2x"
            media="(max-width: 767px)"
            type="image/webp"
          />

          <source
            srcset="/src/images/cow-768.webp 1x, /src/images/cow-768@2x.webp 2x"
            media="(max-width: 1199px)"
            type="image/webp"
          />

          <source
            srcset="
              /src/images/cow-1200.webp    1x,
              /src/images/cow-1200@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />

          <source
            srcset="/src/images/cow-320.png 1x, /src/images/cow-320@2x.png 2x"
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="/src/images/cow-768.png 1x, /src/images/cow-768@2x.png 2x"
            media="(max-width: 1199px)"
            type="image/png"
          />

          <source
            srcset="/src/images/cow-1200.png 1x, /src/images/cow-1200@2x.png 2x"
            media="(min-width: 1200px)"
            type="image/png"
          />

          <img src="/src/images/cow-1200.png" alt="cow" />
        </picture>
      </div>

      <div class="about-content">
        <p class="about-content__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>

        <p class="about-content__text about-content__text--color">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.

          <span
            class="about-content__text about-content__text--color-text about-content__text--margin"
            >Aliquam erat volutpat. Aenean accumsan.</span
          >
        </p>

        <a href="#" class="about-content__btn">Read more</a>
      </div>
    </div>
  </div>
</section>
