<section id="head2" class="section advantages">
  <div class="container">
    <h2 class="section__title visually-hidden">Advantages</h2>

    <ul class="advantages-list">
      <li class="advantages-list__item">
        <b class="advantages-list__subtitle">721</b>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <b class="advantages-list__subtitle">16kg</b>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <b class="advantages-list__subtitle">84</b>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
