<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button aria-label="close" class="button close-button" data-modal-close>
      <svg class="close-button__icon" width="11" height="11">
        <use href="/src/images/sprite.svg#close"></use>
      </svg>
    </button>

    <form
      action="javascript:void(0);"
      method="post"
      class="form js-speaker-form"
      autocomplete="off"
    >
      <b class="form__title">Leave your details, we will call you back</b>

      <label class="form__field">
        <input
          type="text"
          name="user-name"
          class="form__input"
          placeholder=" "
          required
          minlength="3"
        />
        <span class="form__label">Name</span>
        <svg class="form__icon">
          <use href="./images/sprite.svg#person"></use>
        </svg>
      </label>

      <label class="form__field">
        <input
          type="tel"
          name="phone"
          class="form__input"
          placeholder=" "
          required
        />
        <span class="form__label">Phone</span>
        <svg class="form__icon">
          <use href="./images/sprite.svg#phone"></use>
        </svg>
      </label>

      <label for="" class="form__field form__field--margin">
        <input
          type="email"
          name="email"
          class="form__input"
          placeholder=" "
          required
        />
        <span class="form__label">Email</span>
        <svg class="form__icon">
          <use href="./images/sprite.svg#email"></use>
        </svg>
      </label>

      <label class="form__field textarea__field">
        <span class="comment__label">Comment</span>
        <textarea
          class="comment"
          name="comment"
          rows="6"
          placeholder="Enter text"
        ></textarea>
      </label>

      <label class="form__field policy__field">
        <input
          class="checkbox visually-hidden"
          type="checkbox"
          name="policy"
          required
        />
        <svg class="checkbox__icon">
          <use href="/src/images/sprite.svg#check"></use>
        </svg>
        <span class="policy__label"
          >I agree with the newsletter and accept
          <a href="#" class="policy__accent">Agreement conditions</a></span
        >
      </label>

      <button class="button submit-button" type="submit">Send</button>
    </form>
  </div>
</div>
