<section class="section contacts">
  <div class="container">
    <h2 class="section__title visually-hidden">Contacts</h2>

    <ul class="contacts-list">
      <li class="contacts-list__item">
        <h3 class="contacts-list__subtitle">cafe</h3>
      </li>
      <li class="contacts-list__item">
        <h3 class="contacts-list__subtitle">foodtruck</h3>
      </li>
      <li class="contacts-list__item">
        <h3 class="contacts-list__subtitle">cafe</h3>
      </li>
    </ul>
  </div>
</section>
