<section class="section contacts">
  <div class="container">
    <h2 class="section__title visually-hidden">Contacts</h2>

    <ul class="contacts-list">
      <li class="contacts-list__item">
        <b class="contacts-list__subtitle">cafe</b>

        <address class="address">
          <p class="address__title">Chicago</p>
          <p class="address__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </address>

        <div class="work-schedule">
          <div class="work-schedule__item">
            <p class="work-schedule__day">Monday - Friday</p>
            <p class="work-schedule__time">06:00 AM - 10:00 PM</p>
          </div>

          <div class="work-schedule__item">
            <p class="work-schedule__day">Saturday - Sunday</p>
            <p class="work-schedule__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>

        <div class="contact">
          <a class="contact__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
          <br>
          <a class="contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts-list__item">
        <b class="contacts-list__subtitle">foodtruck</b>

        <address class="address">
          <p class="address__title">Los Angeles</p>
          <p class="address__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </address>

        <div class="work-schedule">
          <div class="work-schedule__item">
            <p class="work-schedule__day">Monday - Friday</p>
            <p class="work-schedule__time">06:00 AM - 10:00 PM</p>
          </div>

          <div class="work-schedule__item">
            <p class="work-schedule__day">Saturday - Sunday</p>
            <p class="work-schedule__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>

        <div class="contact">
          <a class="contact__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
          <br>
          <a class="contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts-list__item">
        <b class="contacts-list__subtitle">cafe</b>

        <address class="address">
          <p class="address__title">New York</p>
          <p class="address__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </address>

        <div class="work-schedule">
          <div class="work-schedule__item">
            <p class="work-schedule__day">Monday - Friday</p>
            <p class="work-schedule__time">06:00 AM - 10:00 PM</p>
          </div>

          <div class="work-schedule__item">
            <p class="work-schedule__day">Saturday - Sunday</p>
            <p class="work-schedule__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>

        <div class="contact">
          <a class="contact__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284
          </a>
          <a class="contact__link" href="mailto:noreply@envato.com">noreply@envato.com
          </a>
        </div>
      </li>
    </ul>

    <div class="contacts__wrapper">
      <a class="contacts__btn contacts__btn--secondary" href="#">Our Locations
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
          <path d="M1.42041 1L5.70162 5L1.42041 9" stroke="#D41443" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
      <a class="contacts__btn" href="#">Franchise
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
          <path d="M1.42041 1L5.70162 5L1.42041 9" stroke="#D41443" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </div>
</section>