<section class="section gallery">
  <h2 class="section__title visually-hidden">Gallery</h2>
  <picture>
    <source srcset="/src/images/collage-320.png 1x, /src/images/collage-320@2x.png 2x" media="(max-width: 767px)"
      type="img/png" />

    <source srcset="/src/images/collage-768.png 1x, /src/images/collage-768@2x.png 2x" media="(max-width: 1199px)"
      type="img/png" />

    <source srcset="
        /src/images/collage-1200.png    1x,
        /src/images/collage-1200@2x.png 2x
      " media="(min-width: 1200px)" type="img/png" />

    <source srcset="
        /src/images/collage-320.webp    1x,
        /src/images/collage-320@2x.webp 2x
      " media="(max-width: 767px)" type="img/webp" />

    <source srcset="
        /src/images/collage-768.webp    1x,
        /src/images/collage-768@2x.webp 2x
      " media="(max-width: 1199px)" type="img/webp" />

    <source srcset="
        /src/images/collage-1200.webp    1x,
        /src/images/collage-1200@2x.webp 2x
      " media="(min-width: 1200px)" type="img/webp" />

    <img src="/src/images/collage-1200.png" alt="collage" />
  </picture>
</section>