<section class="section">
  <div class="container">
    <ul class="grid">
      <li class="grid__item grid__item--1"></li>
      <li class="grid__item grid__item--2"></li>
      <li class="grid__item grid__item--3"></li>
      <li class="grid__item grid__item--4"></li>
      <li class="grid__item grid__item--5"></li>
      <li class="grid__item grid__item--6"></li>
      <li class="grid__item grid__item--7"></li>
      <li class="grid__item grid__item--8"></li>
      <li class="grid__item grid__item--9"></li>
      <li class="grid__item grid__item--10"></li>
    </ul>
  </div>
</section>
