<ul class="grid">
  <li class="grid__item"><img src="" alt=""></li>
  <li class="grid__item"><img src="" alt=""></li>
  <li class="grid__item"><img src="" alt=""></li>
  <li class="grid__item"><img src="" alt=""></li>
  <li class="grid__item"><img src="" alt=""></li>
  <li class="grid__item"><img src="" alt=""></li>
  <li class="grid__item"><img src="" alt=""></li>
  <li class="grid__item"><img src="" alt=""></li>
  <li class="grid__item"><img src="" alt=""></li>
  <li class="grid__item"><img src="" alt=""></li>
</ul>