<div class="page-footer">
  <div class="container">
    <div class="main-wrapper">
      <div class="wrapper">
        <b class="section__subtitle section__subtitle--text-left">homemade ice cream made</b>
        <b class="section__title">with passion</b>
      </div>

      <div class="footer-nav">
        <ul class="social-nav">
          <li class="social-nav__item"><a class="social-nav__link" href="">
              <svg class="social-nav__icon" width="34" height="34">
                <use href="/src/images/sprite.svg#icon-github"></use>
              </svg>
            </a></li>
          <li class="social-nav__item"><a class="social-nav__link" href="">
              <svg class="social-nav__icon" width="34" height="34">
                <use href="/src/images/sprite.svg#icon-telegram"></use>
              </svg>
            </a></li>
          <li class="social-nav__item"><a class="social-nav__link" href="">
              <svg class="social-nav__icon" width="34" height="34">
                <use href="/src/images/sprite.svg#icon-facebook"></use>
              </svg>
            </a></li>
        </ul>

        <div class="auth-nav">
          <a class="auth-nav__link" href="tel:+61(0)383766284">Feel free to contact<span
              class="auth-nav__link auth-nav__link--accent"> +61
              (0) 383
              766 284</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyright">
  <p class="copyright__text">&copy; 2019 - IceCream. All Rights Reserved.</p>
</div>