<section class="section">
  <div class="container">
    <h2 class="section__title visually-hidden">Reviews</h2>
    <!-- Slider -->
    <div class="image-slider swiper">
      <div class="image-slider__wrapper swiper-wrapper">
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img src="/src/images/foto_1.png" alt="foto">
          </div>

          <div class="review">
            <p class="review__content">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
              nunc, accumsan
              congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <ul class="review-list">
              <li class="review-list__icon"></li>
              <li class="review-list__icon"></li>
              <li class="review-list__icon"></li>
            </ul>

            <p class="review__name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img src="/src/images/foto_2.png" alt="foto">
          </div>

          <div class="review">
            <p class="review__content">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
              nunc, accumsan
              congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <ul class="review-list">
              <li class="review-list__icon"></li>
              <li class="review-list__icon"></li>
              <li class="review-list__icon"></li>
            </ul>

            <p class="review__name">Mina, Marocco</p>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img src="/src/images/foto_3.png" alt="foto">
          </div>

          <div class="review">
            <p class="review__content">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
              nunc, accumsan
              congue. Lorem ipsum primis in nibh vel risus.

              <svg class="review__icon" width="54" height="40">
                <use href="/src/images/sprite.svg#marks"></use>
              </svg>
            </p>

            <ul class="review-list">
              <li class="review-list__icon"></li>
              <li class="review-list__icon"></li>
              <li class="review-list__icon"></li>
            </ul>

            <p class="review__name">Alisha, Lagos</p>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>