.advantages {
  background-color: getColor('third-bg-color');
}

.advantages-list {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.advantages-list__item:nth-child(1):before {
  content: '';
  display: block;
  width: 33px;
  height: 50px;

  background-image: url('/src/images/icon-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/icon-1@2x.png');
  }
}

.advantages-list__item:nth-child(2):before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;

  background-image: url('/src/images/icon-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/icon-2@2x.png');
  }
}

.advantages-list__item::before {
  margin-bottom: 16px;
}

.advantages-list__item:nth-child(3):before {
  content: '';
  display: block;
  width: 44px;
  height: 50px;

  background-image: url('/src/images/icon-3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/icon-3@2x.png');
  }
}

.advantages-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 38px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.advantages-list__subtitle {
  color: getColor('accent-color');
  font-family: Titan One;
  @include fontStyles(36px, 400, 1.14);
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.advantages-list__text {
  color: getColor('secondary-color');
  @include fontStyles(12px, 700, 1.7);
}
