.contacts {
  background-color: getColor('third-bg-color');

  @media screen and (min-width: $desktop) {
    background-image: url('/src/images/contacts-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/contacts-bg@2x.png');
    }
  }
}

.contacts-list {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.contacts-list__item {
  padding: 43px 20px;
  border-radius: 24px;
  background-color: #fff;

  @media screen and (min-width: $tablet) {
    padding: 50px 30px;
  }
}

.contacts-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 20px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.contacts-list__subtitle {
  display: inline-block;
  padding: 0px 30px;
  margin-bottom: 25px;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.48px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;

  .contacts-list__item:nth-child(2n) & {
    background-color: #c2e297;
  }

  .contacts-list__item:nth-child(2n + 1) & {
    background-color: #f0d1a5;
  }
}

.address {
  font-style: normal;
}

.address,
.work-schedule {
  padding-bottom: 25px;
  margin-bottom: 25px;

  border-bottom: 1px solid #e1e1e1;
}

.address__title,
.work-schedule__day {
  color: getColor('secondary-color');
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.48px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    letter-spacing: 0.56px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    letter-spacing: 0.64px;
  }
}

.address__title {
  margin-bottom: 10px;
}

.address__description,
.contact__link {
  color: getColor('third-color');
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.66;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.83;
    letter-spacing: 0.64px;
  }
}

.work-schedule__item:not(:last-child) {
  margin-bottom: 10px;
}

.work-schedule__time {
  color: getColor('title-color');
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.contact__link {
  @extend %link;
}
