.grid {
  @extend %list;

  display: grid;
  grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col-end];
  grid-template-rows: [start] 1fr [row2] 1fr [row3] 1fr [row-end];
  grid-auto-flow: dense;

  gap: 5px;
}

.grid__item {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  padding: 50px;
  background-color: darkorchid;
  border-radius: 10px;
  overflow: hidden;

  &--1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: end;
  }

  &--2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  &--3 {
    grid-row: 1 / 3;
    grid-column: 3 / 5;
  }

  &--4 {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
  }

  &--5 {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
  }

  &--6 {
    grid-row: 2 / 3;
    grid-column: 7 / col-end;
    align-self: end;
  }

  &--7 {
    grid-row-start: row2;
    grid-column-start: col2;
  }

  &--8 {
    grid-row: 3 / row-end;
    grid-column-start: col3;
  }

  &--9 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
  }

  &--10 {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
  }
}
