.header-hero {
  background-color: getColor('secondary-bg-color');
}

.page-header {
  margin-bottom: 27px;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 199px;
  height: 50px;
  background-image: url('/src/images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.menu-toggle {
  display: inline-flex;

  margin: 0;
  padding: 0;
  background-color: transparent;
  fill: getColor('accent-color');
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: rgba(199, 19, 62, 1);
  }
}
