.header-hero {
  position: relative;
  height: 502px;
  background-color: getColor('secondary-bg-color');
}

.page-header {
  margin-bottom: 27px;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 199px;
  height: 50px;
  background-image: url('/src/images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.menu-toggle {
  display: inline-flex;

  margin: 0;
  padding: 0;
  background-color: transparent;
  fill: getColor('accent-color');
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: rgba(199, 19, 62, 1);
  }
}

.hero-section__content {
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero-section__title {
  margin-bottom: 20px;

  color: #fff;
  font-family: Titan One;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 1.04px;
  text-transform: uppercase;

  &--accent {
    color: getColor('accent-color');
    font-family: Titan One;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.auth-nav {
  @extend %list;

  display: flex;
  align-items: center;
}

.auth-nav__link {
  @extend %link;
}

.hero-section__cicle-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  display: block;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
}

.hero-section__ice-bg {
  position: absolute;
  right: 32px;
  bottom: 0;
  width: 171px;
  height: 410px;
  z-index: 2;

  background-image: url('/src/images/ice-hero-320.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/ice-hero-320@2x.png');
  }
}
