.page-header {
  padding-top: 6px;
  background-color: getColor('secondary-bg-color');

  overflow: hidden;

  @media screen and (min-width: $tablet) {
    padding-top: 37px;
  }
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 199px;
  height: 50px;
  background-image: url('/src/images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.site-nav__wrapper {
  display: flex;
  align-items: center;
  z-index: 2;
}

.menu-toggle {
  display: inline-flex;

  margin: 0;
  padding: 0;
  background-color: transparent;
  fill: getColor('accent-color');
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  z-index: 2;

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: rgba(199, 19, 62, 1);
  }
}

.page-header .mobile-menu__btn {
  display: inline-block;
  margin-bottom: 0;
  border-radius: 40px;
  z-index: 2;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero-section {
  position: relative;
  height: 420px;
  background-color: getColor('secondary-bg-color');

  @media screen and (min-width: $tablet) {
    height: 312px;
  }

  @media screen and (min-width: $desktop) {
    height: 550px;
  }
}

.hero-section__content {
  position: absolute;
  bottom: 160px;

  z-index: 3;

  @media screen and (min-width: $desktop) {
    bottom: 292px;
  }
}

.hero-section__title {
  margin-bottom: 20px;

  color: #fff;
  font-family: Titan One;

  @include fontStyles(26px, 400, 1.14);

  letter-spacing: 1.04px;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    width: 162px;

    @include fontStyles(22px, 400, 1.14);
    letter-spacing: 0.88px;
  }

  @media screen and (min-width: $desktop) {
    width: 277px;

    @include fontStyles(38px, 400, 1.12);
    letter-spacing: 1.52px;
  }

  &--accent {
    color: getColor('accent-color');
    font-family: Titan One;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      @include fontStyles(34px, 400, 0.9);
      letter-spacing: 1.36px;
    }

    @media screen and (min-width: $desktop) {
      @include fontStyles(58px, 400, 0.9);
      letter-spacing: 2.32px;
    }
  }
}

.hero-nav {
  @extend %list;

  display: flex;
  align-items: center;
}

.hero-nav__item:not(:last-child) {
  margin-right: 10px;
}

.hero-nav__btn {
  @extend %link;

  @extend %button;

  display: inline-block;
  padding: 10px 20px;

  @include fontStyles(8px, 400, 1.25);

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }

  &--secondary {
    color: getColor('main-color');
    background-color: getColor('accent-color');
  }
}

.hero-section__cicle-bg {
  position: absolute;
  bottom: 75px;
  right: -62px;
  z-index: 1;

  display: block;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;

  @media screen and (min-width: $tablet) {
    bottom: 75px;
    right: 152px;

    width: 324px;
    height: 322px;
  }

  @media screen and (min-width: $desktop) {
    bottom: 46px;
    right: 150px;

    width: 538px;
    height: 538px;
  }
}

.hero-section__ice-bg {
  position: absolute;
  right: 32px;
  bottom: 0;
  width: 171px;
  height: 410px;
  z-index: 2;

  background-image: url('/src/images/ice-hero-320.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/ice-hero-320@2x.png');
  }

  @media screen and (min-width: $tablet) {
    right: 213px;
    width: 143px;
    height: 336px;
    background-image: url('/src/images/ice-hero-768.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/ice-hero-768@2x.png');
    }
  }

  @media screen and (min-width: $desktop) {
    right: 335px;
    width: 236px;
    height: 557px;
    background-image: url('/src/images/ice-hero-1200.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/ice-hero-1200@2x.png');
    }
  }
}

.hero-section-tablet {
  position: absolute;
  bottom: 28px;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  z-index: 2;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    bottom: 45px;
  }
}

.hero-section-tablet__bg-milk {
  display: flex;
  flex-grow: 1;
  width: 124px;
  height: 126px;

  background-image: url('/src/images/hero-milk-768.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/hero-milk-768@2x.png');
  }

  @media screen and (min-width: $desktop) {
    width: 188px;
    height: 191px;
    background-image: url('/src/images/hero-milk-1200.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/hero-milk-1200@2x.png');
    }
  }
}

.hero-section-tablet__content {
  width: 114px;

  @media screen and (min-width: $desktop) {
    width: 200px;
  }
}

.hero-section-tablet__text {
  margin-bottom: 7px;
  @include fontStyles(8px, 400, 1.5);

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }
}

.hero-section-tablet .btn-arrow {
  width: 18px;
  height: 18px;
  background-size: contain;

  @media screen and (min-width: $desktop) {
    width: 26px;
    height: 26px;
  }
}

.hero-section__girl {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 168px;
  height: 133px;

  background-image: url('/src/images/hero-girl-768.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/hero-girl-768@2x.png');
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    width: 293px;
    height: 232px;
    background-image: url('/src/images/hero-girl-1200.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/hero-girl-1200@2x.png');
    }
  }
}

.cafe-list {
  @extend %list;

  position: absolute;
  right: 0;
  bottom: 191px;

  @media screen and (min-width: $desktop) {
    bottom: 341px;
  }
}

.cafe-list__item:not(:last-child) {
  margin-bottom: 14px;
}

.cafe-list__text {
  position: relative;
  @include fontStyles(8px, 400, 1.25);

  @media screen and (min-width: $desktop) {
    @include fontStyles(14px, 400, 1.29);
  }

  &--accent {
    color: #d41443;
    font-family: Titan One;
    @include fontStyles(28px, 400, 1.14);
    letter-spacing: 1.12px;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
      font-size: 46px;
      font-weight: 400;
      line-height: 1.15;
      letter-spacing: 1.84px;
    }
  }
}

.cafe-list__text::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;

  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}

.cafe-list__text--accent::before {
  content: '';
  display: none;
}

.site-nav-list {
  @extend %list;
  display: flex;
  z-index: 4;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.site-nav-list__item:not(:last-child) {
  margin-right: 35px;
}

.site-nav-list__link {
  color: #fff;

  @extend %link;

  @include fontStyles(16px, 700, 1.31);

  transition: color 250ms ease-in;

  &:hover,
  &:focus {
    color: getColor('accent-color');
    cursor: pointer;
  }

  &--current {
    color: getColor('accent-color');
  }
}
