.section {
  padding-top: 120px;
}

.section__title {
  margin-bottom: 145px;
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}

.section__subtitle {
  display: block;
  color: #ffa5ba;
  text-align: center;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
